# Altairの練習

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/shinchu/dataviz-notebooks/blob/main/week_3/altair-exercises.ipynb)

Altairを使って、先週の演習1で作った2つの整然データか講義で説明されたノーベル賞受賞者のデータの可視化をしてみましょう。

In [2]:
import pandas as pd
import altair as alt
## If necessary, import other libraries here

In [3]:
covid_data = "https://covid19.mhlw.go.jp/public/opendata/newly_confirmed_cases_daily.csv"

In [4]:
df_covid = pd.read_csv(covid_data)
df_covid

,Date,ALL,Hokkaido,Aomori,Iwate,Miyagi,Akita,Yamagata,Fukushima,Ibaraki,...,Ehime,Kochi,Fukuoka,Saga,Nagasaki,Kumamoto,Oita,Miyazaki,Kagoshima,Okinawa
0,2020/1/16,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020/1/17,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020/1/18,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020/1/19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020/1/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,2022/10/15,34978,3021,347,351,787,426,636,620,693,...,293,160,1132,211,264,493,300,247,367,283
1004,2022/10/16,29664,2089,262,261,633,297,479,558,674,...,256,94,993,189,235,380,245,208,243,164
1005,2022/10/17,15388,1192,123,131,382,135,249,325,563,...,113,62,377,65,99,153,189,84,138,78
1006,2022/10/18,42294,4008,526,645,820,803,984,900,353,...,430,220,1110,277,360,682,347,368,322,356
1007,2022/10/19,43555,3912,380,496,965,509,862,825,854,...,319,138,1499,242,312,483,374,329,320,338

In [5]:
population_data = "https://raw.githubusercontent.com/JaehyunSong/RBook/master/Data/Population2015.csv"

In [6]:
df_pop = pd.read_csv(population_data)
df_pop

    都道府県   区分       人口        面積
0    北海道  総人口  5381733  83424.31
1    NaN  外国人    21676  83424.31
2    青森県  総人口  1308265   9645.59
3    NaN  外国人     3447   9645.59
4    岩手県  総人口  1279594  15275.01
..   ...  ...      ...       ...
89   NaN  外国人     3693   7735.31
90  鹿児島県  総人口  1648177   9186.94
91   NaN  外国人     5847   9186.94
92   沖縄県  総人口  1433566   2281.12
93   NaN  外国人    11020   2281.12

[94 rows x 4 columns]

In [7]:
# 注意：このデータはタブ区切りです。区切り文字を指定して読み込みましょう
nobel_data = "https://raw.githubusercontent.com/shinchu/dataviz-notebooks/main/data/week_2/nobel_prize_data_cleaned.tsv"

## 整然データにする

（先週の演習1の手順を繰り返す。nobel_dataはそのまま使えます。）

## 可視化する